html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}

.shreya{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;

   display: grid;
  place-items: center;
}
.shreya * {
  margin: 0; /* remove default margins from child elements */
}